---

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <a href="https://www.locandadalbarba.it/"><img src="/icona.png" alt=""></a>
        
        <nav>
            <ul>
                <li>
                    <a href="#" class="link">Storia</a>
                </li>
                <li>
                    <a href="#" class="link">Chi Siamo</a>
                </li>
                <li>
                    <a href="#" class="link">Menu</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
    
    </main>
</body>
</html>

<style>
    body{
        background-color: #B48C59;
        margin: 0;
    }
    img{
        width: 75px;
        height: 50px;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url('/header.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 150px;
    }
    nav ul{
        display: flex;
        gap: 10px;
        margin-right: 10px;
    }
    li{
        list-style: none;
    }
    a{
        margin-left: 40px;
    }
    .link{
        color: white;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        border-bottom: 2px solid;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 0px 10px;
        margin-left: 0px;
    }
</style>