---
    const responseStoria = await fetch('http://api.made7-g6.webe.radio/api/storias')
    const responseStoriaData = await responseStoria.json()
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icona.png">
    <title>Home</title>
</head>
<body>
    <header>
        <a href="https://www.locandadalbarba.it/"><img src="/icona.png" alt=""></a>
        <nav>
            <ul>
                <li>
                    <a href="#chi-siamo" class="link">Chi Siamo</a>
                </li>
                <li>
                    <a href="#storia" class="link">Storia</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            <a href="#locanda">La nostra Locanda</a>
            <img class="img" src="/locanda.jpg" alt="">
        </article>
        <div class="menu">
            <a href="/menu">+</a>
        </div>
        <img src="/striscia.png" class="immagineStriscia" alt="">
        <article>
            <h1 id="chi-siamo">CHI SIAMO</h1>
            <h4>Si tratta di una innovativa realtà imprenditoriale e sociale che formula i propri progetti e fonda le proprie azioni su un obiettivo: sostenere, attraverso la ristorazione, l’inclusione economica e sociale di giovani con disturbi del neurosviluppo e di persone vulnerabili che hanno bisogno di ritrovare una propria dimensione lavorativa, valorizzando al tempo stesso il radicamento nel territorio e la presenza attiva e aperta alla comunità.</h4>
        </article>
        <article>
            <h1 id="locanda">LA LOCANDA</h1>
        </article>
        <article>
            <h1 id="storia">STORIA</h1>
            {responseStoriaData.data.map(storiella=>
                <div>
                    <h2>{storiella.attributes.titolo}</h2>
                    <h5>{storiella.attributes.descrizione}</h5>
                </div>
            )}
        </article>
    </main>
    <footer>
        <a href="https://www.instagram.com/dalbarbalocandapastificio/" target="_blank"></a>
        <a href="https://www.facebook.com/DalBarbaLocandaPastificio" target="_blank"></a>
        <a href="https://www.google.com/maps/place/Locanda+Dal+Barba,+Via+Antonio+Pesenti,+1,+38060+Villa+Lagarina+TN/@45.917778,11.0302746,16z/data=!4m2!3m1!1s0x47820c3eb1a17281:0xd83a882a7d66cca0" target="_blank"></a>
    </footer>
</body>
</html>

<style>
.immagineStriscia{
    width: 120%;
    height: 80px;
    margin-top: 20px;
}
    article div{
        margin-bottom: 45px;
        border-bottom: 1px solid black;
    }
    article a:nth-child(1){
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        font-size: xx-large;
        width: 100%;
        text-shadow: 0px 0px 5px black;
    }
    article img:nth-child(1){
        position: absolute;
    }
    article:nth-child(2){
        display: flex;
        flex-direction: column;
    }
    article a {
        text-decoration: none;
        color: white;
    }
    article img{
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.459);
    }
    .menu a{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'roboto', sans-serif;
        font-size: 2rem;
        color: rgb(176, 47, 52);
        text-decoration: none;
        text-align: center;
        width: 100%;
    }
    footer{
        background-color: #d8042be8;
        box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.274);
        height: 150px;
        margin-top: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 45px;
    }
    footer a{
        width: 15px;
        height: 15px;
        padding: 10px;
    }
    footer a:nth-child(1){
        background-image: url('/instagram.svg');
    }
    footer a:nth-child(2) {
        background-image: url('/facebook.svg');
    }
    footer a:nth-child(3) {
        background-image: url('/location.svg');
    }
    *{
        scroll-behavior: smooth;
        font-family: 'Roboto', sans-serif;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    .menu{
        margin-left: 35px;
        margin-top: 60px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: white;
        border-radius: 100%;
        box-shadow: 0px 0px 5px black;
    }
    h2, h4{
        text-align: center;
    }
    article{
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    embed{
        width: 35px;
        background: white;
        border-radius: 100%;
        padding: 20px;
    }
    body{
        background-color: #EDF2F4;
        margin: 0;
    }
    img{
        width: 125px;
        height: 75px;
    }
    header{
        width: 100%;
        overflow-x: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url('/header2.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 150px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.274);
    }
    nav{
        width: 75%;
    }
    nav ul{
        align-items: center;
        flex-direction: column;
        display: flex;
        gap: 15px;
        margin-right: 10px;
        margin-right: 20px;
    }
    li{
        list-style: none;
    }
    header a{
        margin-left: 20px;
        margin-top: 20px;
    }
    .link{
        font-size: 1rem;
        color: rgb(0, 0, 0);
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.596);
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        padding: 3px;
        border: 1px solid #EF233C;
        color:#EDF2F4;
        margin-left: 0px;
        transition: 1s ease;
    }
    .link:hover{
        border: 1px solid #edf2f400;
        border-bottom: 1px solid #EF233C;
    }
    
</style>