---
    const responseStoria = await fetch('http://api.made7-g6.webe.radio/api/storias')

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icona.png">
    <title>Home</title>
</head>
<body>
    <header>
        <a href="https://www.locandadalbarba.it/"><img src="/icona.png" alt=""></a>
        
        <nav>
            <ul>
                <li>
                    <a href="#storia" class="link">Storia</a>
                </li>
                <li>
                    <a href="#chi-siamo" class="link">Chi Siamo</a>
                </li>
                <li>
                    <a href="#locanda" class="link">La Locanda</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            <img class="img" src="icona.png" alt="">
        </article>
        <div class="menu">
            <a href="/menu">+</a>
        </div>
        <article>
            <h1 id="storia">STORIA</h1>
        </article>
        <article>
            <h1 id="chi-siamo">CHI SIAMO</h1>
        </article>
        <article>
            <h1 id="locanda">LA LOCANDA</h1>
        </article>
    </main>
    <footer>
        <a href="https://www.instagram.com/dalbarbalocandapastificio/" target="_blank"></a>
        <a href="https://www.facebook.com/DalBarbaLocandaPastificio" target="_blank"></a>
        <a href="https://www.google.com/maps/place/Locanda+Dal+Barba,+Via+Antonio+Pesenti,+1,+38060+Villa+Lagarina+TN/@45.917778,11.0302746,16z/data=!4m2!3m1!1s0x47820c3eb1a17281:0xd83a882a7d66cca0"></a>
    </footer>
</body>
</html>

<style>
    .menu a{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'roboto', sans-serif;
        font-size: 2rem;
        color: rgb(176, 47, 52);
        text-decoration: none;
        text-align: center;
        width: 100%;
    }
    footer{
        background-color: rgba(0, 0, 0, 0.719);
        box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.274);
        height: 150px;
        margin-top: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 45px;
    }
    footer a{
        width: 15px;
        height: 15px;
        padding: 10px;
    }
    footer a:nth-child(1){
        background-image: url('/instagram.svg');
    }
    footer a:nth-child(2) {
        background-image: url('/facebook.svg');
    }
    footer a:nth-child(3) {
        background-image: url('/location.svg');
    }
    *{
        scroll-behavior: smooth;
        font-family: 'Roboto', sans-serif;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    .menu{
        margin-left: 35px;
        margin-top: 60px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: white;
        border-radius: 100%;
    }
    article{
        margin-top: 45px;
        display: flex;
        justify-content: center;
    }
    embed{
        width: 35px;
        background: white;
        border-radius: 100%;
        padding: 20px;
    }
    body{
        background-color: #B48C59;
        margin: 0;
    }
    img{
        width: 90px;
        height: 75px;
    }
    .img{
        width: calc(100px * 2);
        height: calc(75px * 2);
    }
    header{
        width: 100%;
        overflow-x: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url('/header.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 150px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.274);
    }
    nav{
        width: 75%;
    }
    nav ul{
        align-items: center;
        flex-direction: column;
        display: flex;
        gap: 15px;
        margin-right: 10px;
        margin-right: 20px;
    }
    li{
        list-style: none;
    }
    header a{
        margin-left: 20px;
        margin-top: 20px;
    }
    .link{
        background: white;
        font-size: 1rem;
        color: rgb(0, 0, 0);
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.596);
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        border-bottom: 2px solid rgba(255, 255, 255, 0.404);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 2px 10px;
        margin-left: 0px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.274), inset 0px 5px 10px rgba(0, 0, 0, 0.212);
        transition: 1s ease;
    }
    .link:hover{
        border-bottom: 2px solid rgb(255, 255, 255);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
</style>