---
import Layout from '../components/Layout.astro';
---
<head>
	<title>Locanda dal Barba</title>
</head>

<body>
	<header>

	</header>
	<main>
		<img src="/icona.png">
	</main>
</body>

<style>
</style>
