---
	/*
	fetch('http://api.made7-g6.webe.radio/api/voci-del-menu?populate=*').then(res=>{
		return res.json()
	}).then(dati=>{
		let link = 'http://api.made7-g6.webe.radio'
		//console.log(dati)
		dati.data.forEach(element => {
			console.log(link + element.attributes.cover.data.attributes.formats.medium.url)
		});
	})*/
---
<head>
<link rel="shortcut icon" href="icona.png">
	<title>Locanda dal Barba</title>
</head>
<body>
	<img src="/icona.png" id="immagine">
	{}
</body>

<style>
	body{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		overflow-y: hidden;
		background-color: #B48C59;
	}
	*{
		margin: 0px;
	}
	img{
		transform: scale(1.75);
	}
	img:hover{
		animation-name: animazione;
		animation-duration: 3s;
		animation-fill-mode: forwards;
	}
	@keyframes animazione{
		from { 
			transform: scale(1.75);
		}
		to { 
			transform: scale(0.85);
		}
	}
</style>
