---
    const response = await fetch('http://api.made7-g6.webe.radio/api/voci-del-menu?populate=*')
    const data = await response.json();
    //console.log("http://api.made7-g6.webe.radio"+data.data[0].attributes.cover.data.attributes.url)
---

<body>

    <header>
        <h1></h1>
    </header>

    {
        await data.data.map(all=>
            <h1>{all.attributes.nome}</h1>
            <img src={"http://api.made7-g6.webe.radio"+all.attributes.cover.data.attributes.url}>
            <hr>
        
        )
    }
</body>

<style>
body{
    font-family: 'Roboto', sans-serif;
    background-color: #B48C59;
    text-shadow: 0px 2px 10px white, 0px 0px 3px black;
    color: rgb(176, 47, 52);
}
header{
    background: url('/header.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
    background-size: cover;
    margin: 0px;
}
*{
    margin: 0px;
}
</style>