---

---

<body>
    <a href="/"><img src="/icona.png" alt=""></a>
</body>

<style>
body{
	background-color: rgb(219, 219, 219);
}
    a img{
        transform: scaleX(.1) scaleY(.1) translateX(-2950px) translateY(-1950px);
    }
</style>